<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Listar Empresas</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Listar Empresas</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">RUC</th>
					<th scope="col">Sede</th>
					<th scope="col">Telefono</th>
					<th scope="col">Direccion</th>
					<th scope="col">Correo</th>
					<th scope="col">Clave</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="empresa : ${listaEmpresas}">
					<td th:text="${empresa.idEmpresa}"></td>
					<td th:text="${empresa.nombreEmpresa}"></td>
					<td th:text="${empresa.ruc}"></td>
					<td th:text="${empresa.sedeEmpresa}"></td>
					<td th:text="${empresa.telefonoEmpresa}"></td>
					<td th:text="${empresa.direccionEmpresa}"></td>
					<td th:text="${empresa.correoEmpresa}"></td>
					<td th:text="${empresa.claveEmpresa}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>