<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Reporte tipo de producto x cantidad de ventas</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Reporte de tipo de producto x cantidad de Pedidos</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">Tipo de Producto</th>
					<th scope="col">Cantidad de Pedidos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reporte: ${reporteLista}">
					<td th:text="${reporte[0]}"></td>
					<td th:text="${reporte[1]}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>