<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Reporte VentasxCiudad</title>
</head>
<body background="/images/banner-img.jpg">

	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Ventas por Ciudad</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">Ciudad</th>
					<th scope="col">Ventas</th>
			
				</tr>
			</thead>
			<tbody>
				<tr th:each="rl:${reporteLista}">
					<td th:text="${rl[0]}"></td>
					<td th:text="${rl[1]}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>