<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Lista de Compras</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Lista de Compras</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Total</th>
					<th scope="col">Fecha de Compra</th>
					<th scope="col">Metodo de Pago</th>
					<th scope="col">Usuario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="compra: ${listaCompras}">
					<td th:text="${compra.IdCompra}"></td>
					<td th:text="${compra.Total}"></td>
					<td th:text="${#dates.format(compra.FechaCompra,'dd/MM/yyyy')}"></td>
					<td th:text="${compra.MetodoPago}"></td>
					<td th:text="${compra.usuario.nombreUsuario}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>