<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Listar Categorias</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Listar Categorias</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Categoria</th>
					<th>Producto</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${listaCategoriaProductos}">
					<td th:text="${c.idCategoriaProducto}"></td>
					<td th:text="${c.categoria.nombreCategoria}"></td>
					<td th:text="${c.producto.NombreProducto}"></td>

				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>