<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF8">
<title>Fast Wear</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</head>
<body>
	<header th:fragment="header" class="header">

		<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong"
			style="background-color: rgba(0, 0, 0, 0.05);">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><img
					th:src="@{/images/logo.png}" width="150" height="70"></a>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Categoria </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/categorias/nueva}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/categorias/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Talla </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/tallas/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/tallas/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Tipos de Producto </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/tipoproductos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/tipoproductos/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Ciudad </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/ciudades/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/ciudades/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Marcas </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/marcas/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/marcas/listar}">Listar</a></li>

							</ul></li>
						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Productos </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/productos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/productos/listar}">Listar</a></li>

							</ul></li>
						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> TallaProducto </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/tallaproductos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/tallaproductos/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_EMPRESA')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> CategoriaProducto </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/categoriaproductos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/categoriaproductos/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Posteo </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/posteos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/posteos/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Compra </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/compras/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/compras/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> DetalleCompra </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/detallecompras/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/detallecompras/listar}">Listar</a></li>
							</ul></li>


						<!-- para admin extra -->
						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Posteo </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/posteos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/posteos/listar}">Listar</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Compra </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/compras/nuevo}">Registrar compra</a></li>
								<li><a class="dropdown-item" th:href="@{/compras/listar}">Listar compra</a></li>
								<li><a class="dropdown-item"
									th:href="@{/detallecompras/nuevo}">Registrar DetalleCompra</a></li>
								<li><a class="dropdown-item"
									th:href="@{/detallecompras/listar}">Listar DetalleCompra</a></li>
							</ul></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Usuarios</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/usuarios/listar}">Listar usuarios</a></li>
								<li><a class="dropdown-item" th:href="@{/empresas/listar}">Listar empresas</a></li>
							</ul></li>


						<!-- Para login  -->

						<li class="nav-item dropdown" sec:authorize="!isAuthenticated()"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Eres Usuario? </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/usuarios/nuevo}">Registrate</a></li>
								<!-- <li><a class="dropdown-item" th:href="@{/usuarios/listar}">Listar</a></li>-->
							</ul></li>

						<li class="nav-item dropdown" sec:authorize="!isAuthenticated()"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> Eres Empresa? </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/empresas/nuevo}">Registrar</a></li>
								<!--<li><a class="dropdown-item" th:href="@{/empresas/listar}">Listar</a></li>-->
							</ul></li>

						<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							style="color: #FFFFFF"> <span sec:authentication="name"></span>
						</a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<form th:action="@{/logout}" method="post">
									<button class="dropdown-item" type="submit">Cerrar
										sesion</button>
								</form>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<footer
		class="text-center text-lg-start bg-light text-muted fixed-bottom">
		<div class="text-center p-4"
			style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:<a class="text-reset fw-bold" href="#">Fast Wear</a>
		</div>
	</footer>
</body>
</html>