<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Registro Categoria</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Registro de Categoria</h1>
	</div>
	<br>
	<div class="container">
		<div>
			<form th:action="@{/categorias/guardar}" th:object="${categoria}"
				method="post">
				<!--
				<div class="col-sm-5">
					<label class="form-label">Id:</label> <input type="text"
						th:field="*{IdCategoria}" class="form-control" readonly="readonly"></input>
				</div>
				-->
				<div class="col-sm-5">
					<label class="form-label">Nombre de Categoria:</label> <input
						type="text" th:field="*{NombreCategoria}" class="form-control"
						placeholder="Digite la categoria" required="required"
						pattern="[A-Za-z]+"></input>
				</div>
				<div class="col-sm-5">
					<label class="form-label">Descripcion de Categoria:</label> <input
						type="text" th:field="*{DescripcionCategoria}"
						placeholder="Digite alguna descripcion para su categoria"
						class="form-control"></input>
				</div>
				<br>
				<div class="col-sm-5">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>