<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Lista de Posteos</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Lista de Posteos</h1>
	</div>
	<br>
	<div align="center">
		<a class="boton" th:href="@{/posteos/nuevo}">Nuevo</a>
	</div>
	<br>
	<div class="contenedorpost" th:each="posteo: ${listaPosteos}">
		<div class="card w-50 text-center border-dark">
			<div class="card-header text-white bg-dark">
				<div class="row">
					<div class="col">
						<a type="text" th:text="${posteo.usuario.NombreUsuario}"></a>
					</div>
					<div class="col">
						<a th:text="${#dates.format(posteo.FechaPosteo,'dd/MM/yyyy')}"></a>
					</div>

				</div>
			</div>
			<div class="card-body bg-white">
				<p class="card-text" th:text="${posteo.DescripcionPosteo}"></p>
				<a class="btn btn-primary"
					th:href="@{'/posteos/reaccionp/'} + ${posteo.IdPosteo}">Me
					Gusta</a>&nbsp; <a class="btn btn-danger"
					th:href="@{'/posteos/reaccionn/'} + ${posteo.IdPosteo}">No me
					Gusta</a>
			</div>
			<div class="card-footer text-white bg-dark"
				th:text="'Reacciones: ' + ${posteo.CantidadReaccion}"></div>
		</div>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>