<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Registro Posteo</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Registro de Posteo</h1>
	</div>
	<br>
	<div class="container">
		<div>
			<form th:action="@{/posteos/guardar}" th:object="${posteo}"
				method="post">
				<!--
				<div class="col-sm-5">
					<label class="form-label">Id:</label> <input type="text"
						th:field="*{IdProducto}" class="form-control" readonly="readonly"></input>
				</div>
				-->
				<div class="col-sm-5">
					<label class="form-label">Descripcion del posteo:</label> <input
						type="text" th:field="*{DescripcionPosteo}" class="form-control"
						placeholder="Opine" required="required"
						pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+"></input>
				</div>	
				<br>
				<div class="col-sm-5">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>