<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="utf-8">
<title>Login</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
	<h1 align="center">Login</h1>
	</div>

	<div class="container" align="center">
			<div class="card-body" align="center">
				<form th:action="@{/login}" method="post">
					<div class="col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Ingrese su correo" autofocus
							required />
					</div>
<br>
					<div class="col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Ingrese su clave" required />
					</div>
<br>
					<div class="col-sm-6">
						<input type="submit" class="btn btn-lg btn-dark btn-block"
							value="Ingresar" />
					</div>
				</form>
			</div>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>