<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Listar Tipo Producto</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Listar Tipo Producto</h1>
	</div>
	<br>
	<div class="container text-center">
		<table class="table table-primary">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Tipo</th>
					<th>Operación</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a:${listaTipoProductos}">
					<td th:text="${a.idTipoProducto}"></td>
					<td th:text="${a.NombreTipoProducto}"></td>
					<td><a class="btn btn-primary"
						th:href="@{'/tipoproductos/irmodificar/'+${a.idTipoProducto}}">Editar</a>
						&nbsp; <a class="btn btn-danger"
						th:href="@{/tipoproductos/eliminar?id=}+${a.idTipoProducto}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>