<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Registrar marca</title>
</head>
<body background="/images/banner-img.jpg">
	<header th:replace="master/master :: header"></header>
	<br>
	<div>
		<h1 align="center">Registrar marca</h1>
	</div>
	<br>
	<div class="container">
		<div>
			<form th:action="@{/marcas/guardar}" th:object="${marca}"
				method="post">
				<!--
				<div class="col-sm-5">
					<label class="form-label">Id:</label> <input type="text"
						th:field="*{idMarca}" class="form-control" readonly="readonly"></input>
				</div>
				-->
				<div class="col-sm-5">
					<label class="form-label">Nombre de Marca:</label> <input
						type="text" th:field="*{nombreMarca}" class="form-control"
						placeholder="Digite la marca" required="required" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"></input>
				</div>
				<div class="col-sm-5">
					<label class="form-label">Descripcion de Marca:</label> <input
						type="text" th:field="*{descripcionMarca}" class="form-control"
						placeholder="Digite alguna descripcion para su marca"></input>
				</div>
				<br>
				<div class="col-sm-5">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>
	<br>
	<footer th:replace="master/master :: footer"></footer>
</body>
</html>